<h1 class="mb-4">研修詳細</h1>

<div class="card mb-4">
  <div class="card-body">
    <p>
      <strong>タイトル：</strong>
      <%= @training.title %>
    </p>

    <p>
      <strong>説明：</strong><br>
      <%= simple_format(@training.description) %>
    </p>
  </div>
  <div>
    <% if @training.materials.any? %>
      <p class="mt-2">既存の資料：</p>
      <ul>
        <% @training.materials.each do |material| %>
          <li class="d-flex align-items-center gap-2">
            <%= link_to material.original_filename,
                  "/materials/#{@training.id}/#{material.original_filename}",
                  target: "_blank" %>
          </li>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>

<div class="mb-3">
  <%= link_to "編集する", edit_admin_training_path(@training), class: "btn btn-primary ms-2" %>
  <%= link_to "一覧へ戻る", admin_trainings_path, class: "btn btn-secondary" %>
</div>
