<h2><%= @training_schedule.training.title %></h2>
<p>内容: <%= @training_schedule.training.description %></p>
<p>日時: <%= @training_schedule.date %></p>
<p>会場: <%= @training_schedule.room.name %></p>

<h3>講師</h3>
<ul>
  <% @training_schedule.instructors.each do |instructor| %>
    <li><%= instructor.user.name %></li>
  <% end %>
</ul>
